<section class="container-fluid py-7 approach position-relative overflow-hidden " id="approach">
		<div class="background-icons">
				<img src="./../../assets/Mangrove.svg" data-aos="fade-up" data-aos-once="true" class="svg svg-sand position-absolute icon-absolute icon-absolute-tr d-none d-lg-block  fill-blue" >
				<img src="./../../assets/Mangrove.svg" data-aos="fade-up" data-aos-once="true" class="svg svg-sand position-absolute icon-absolute icon-absolute-ml fill-blue" >
				<img src="./../../assets/Mangrove.svg" data-aos="fade-up" data-aos-once="true" class="svg svg-sand position-absolute icon-absolute icon-absolute-br d-none d-lg-block fill-blue" >
		</div>
		<div class="row w-50 mx-auto">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center ">
						<h2 class="title " >
								<strong>Approach</strong>
						</h2>
				</div>
				<div class="row py-3  "  >
						<div class="col-sm-12 col-md-12 col-lg-9  d-inline-block" >
								<h3 data-aos="fade-up" data-aos-once="true">
										<strong>Working with you</strong>
								</h3>
								<p class="copy text-left" data-aos="fade-up" data-aos-once="true" data-aos-delay="100">As a psychologist, Alexandra’s approach begins with an attitude of warmth, responsiveness and kindness. She uses collaborative enquiry to help clients to gain a greater understanding and insight into their problems.</p>
						</div>
						<div class="col-lg-3 d-none d-lg-block"></div>
				</div>
				<div class="row py-5  " >
						<div class="col-lg-3 d-none d-lg-block"></div>
						<div class="col-sm-12 col-md-12 col-lg-9  d-inline-block" >
								<h3 class="text-right" data-aos="fade-up" data-aos-once="true">
										<strong>Every journey is different</strong>
								</h3>
								<p class="copy text-right" data-aos="fade-up" data-aos-once="true" data-aos-delay="100">Alexandra is very aware that each client’s journey to counselling is particular	to them. We may have a sense of being alone, feel hopeless, guilty or overwhelmed, but we might find it hard to pinpoint what in particular brought us here.	Alternatively we may know exactly why we are here, but not have a clue what to do about it.</p>
						</div>
				</div>
				<div class="row py-3 " >
						<div class="col-sm-12 col-md-12 col-lg-9  d-inline-block" >
								<h3 data-aos="fade-up" data-aos-once="true">
										<strong>Tailored to your needs</strong>
								</h3>
								<p class="copy text-left" data-aos="fade-up" data-aos-once="true" data-aos-delay="100">Alexandra’s approach recognises how different each person’s experience is and addresses this by taking an integrative approach to counselling. Drawing on her clinical expertise in humanistic, psychodynamic and cognitive behavioural therapies, she tailors therapy to clients’ unique needs and requirements.</p>
						</div>
						<div class="col-lg-3 d-none d-lg-block"></div>
				</div>
		</div>
</section>
