<section class="container-fluid py-5 pb-7" id="contact">
		<div class="row w-50 w-xs-100 mx-auto align-items-center" >
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  ">
						<div class="row  text-md-center text-center py-2">
								<div class="col-md-12 col-xs-12">
										<h2 class="title " ><strong>Contact Details</strong></h2>
										<p class="copy">To make an enquiry regarding counselling, or arrange a free 15 minute telephone consultation, please email Alexandra at
												<a href="mailto:alex@alexandrakasozi.co.uk" target="_blank">
														<strong>alex@alexandrakasozi.co.uk</strong>
												</a>
										</p>
								</div>
						</div>
				</div>
		</div>
		<div class="row w-50 w-xs-100 mx-auto align-items-center" >
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-0 ">
						<div class="row py-3 align-items-center" >
								<div class="col-lg-12 col-md-12 col-xs-12 text-md-center text-center align-items-center ">
										<div data-lat="51.43421" data-lng="-.16276" data-title="The Awareness Center, 74-80 Upper Tooting Road, London, SW17 7PB" class="card shadow info-block block-3 d-inline-block mx-auto text-center locationBlock">
												<h5><strong>Tooting, <br>South West London:</strong></h5>
												<p class="py-2" href="http://maps.google.com/?q=TAC Tooting, 74-80 Upper Tooting Road, London, SW17 7PB" >74-80 Upper Tooting Road <br>London <br>SW17 7PB</p>
										</div>
										<div data-lat="51.51809" data-lng="-0.1280" data-title="37 Musuem Street, London, WC1A 1LQV" class="card shadow info-block block-3 d-inline-block mx-auto text-center locationBlock">
												<h5><strong>Holborn, <br>Central London:</strong></h5>
												<p class="py-2" href="http://maps.google.com/?q=A Room in Town - Therapy Room, 37 Museum Street, London, WC1A 1LQ" >37 Museum Street <br>London <br>WC1A 1LQ</p>
										</div>
								</div>
						</div>
						<div class="row w-100 w-xs-100 mx-auto py-2" id="googleMap">
								<div class="col-lg-12 col-md-12 col-xs-12 px-0 text-center " 	data-aos="fade" data-aos-once="true">
											<div class="d-md-block map" id="map" style=""></div>
								</div>
						</div>
				</div>
		</div>
</section>
