<section class="container-fluid py-7" id="fees">
		<div class="row w-50 mx-auto text-left">
				<div class="col-sm-12 col-md-12 col-lg-12 ">
						<h2 class="title text-center" >
								<strong>Fees & Terms</strong>
						</h2>
						<dl class="row py-3" data-aos="fade-up" data-aos-once="true">
								<dt class="col-sm-4 col-md-3">Session Length:</dt>
								<dd class="col-sm-8 col-md-9">Psychological Counselling Sessions are 50 minutes (a ‘therapeutic hour’) in length.	Double sessions are available on request.</dd>
						</dl>
						<dl class="row py-3" data-aos="fade-up" data-aos-once="true">
								<dt class="col-sm-4 col-md-3">Fees:</dt>
								<dd class="col-sm-8 col-md-9">The fee for Individual Psychological Counselling is £100 per therapeutic hour, payable by cash or credit/debit card at the appointment. Payment is also available via insurance (Vitality Health, Aviva & AXA PPP).</dd>
						</dl>
						<dl class="row py-3" data-aos="fade-up" data-aos-once="true">
								<dt class="col-sm-4 col-md-3">Free Consultation:</dt>
								<dd class="col-sm-8 col-md-9">An initial 15 minute telephone consultation is offered free of charge to provide the opportunity for you to	ask any questions you may have, and establish whether you would like to book an appointment.</dd>
						</dl>
						<dl class="row py-3" data-aos="fade-up" data-aos-once="true">
								<dt class="col-sm-4 col-md-3">Location:</dt>
								<dd class="col-sm-8 col-md-9">Consultation rooms are at The Awareness Centre Tooting, located 4 minutes walk from Tooting Bec Station, and Recentre Health in Balham - a few minutes walk from Balham underground station. In addition Alexandra offers counselling sessions by telephone and video conference.	</dd>
						</dl>
						<dl class="row py-3" data-aos="fade-up" data-aos-once="true">
								<dt class="col-sm-4 col-md-3">Block Booking:</dt>
								<dd class="col-sm-8 col-md-9">If you wish to pay for your counselling sessions in advance, Alexandra offers a 10% discount when a block of six sessions is purchased.</dd>
						</dl>
				</div>
		</div>
</section>
