<!-- MODAL 1 -->
<div class="modal fade animated zoomin" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body mx-auto p-0">
                <div class="mx-auto text-center py-3" style="background: url('./../../assets/wave_hero.jpg'); background-size: cover">
                    <img src="./../../assets/Heartbreak.svg" class="svg svg-white icon-relationships mx-auto" >
                </div>
                <div class="mx-auto p-3 text-center" >
                    <h4 class="sub-title pt-4 pb-2 text-center" >
                        <strong>Abuse, Trauma & PTSD</strong>
                    </h4>
                    <p class="copy px-3"> For survivors of emotional, physical and/or sexual abuse and those who have experienced other traumatic events in their lives, pain, anger and shame may be difficult emotions to escape, and can make day-to-day living extremely difficult. <br><br>Alexandra uses a client-led approach when working with individuals who have experienced trauma. She works gently and compassionately to co-create a safe space for clients to begin to process what has happened to them and its effect on their lives.
                    </p>
                </div>
            </div>
            <div class="row mx-auto w-25 pb-5 ">
                <a href="#" class="mx-auto " data-dismiss="modal">
                    <button type="button" class="copy btn sborder mx-auto bg-white shadow-sm p-2" >Close</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL 2 -->
<div class="modal fade animated zoomin" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="Modal2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body mx-auto p-0">
                <div class="mx-auto text-center py-3" style="background: url('./../../assets/wave_hero.jpg'); background-size: cover">
                    <img src="./../../assets/Anxiety.svg" class="svg svg-white icon-anxiety mx-auto" >
                </div>
                <div class="mx-auto p-3 text-center" >
                    <h4 class="sub-title pt-4 pb-2 text-center" >
                        <strong>Depression & Anxiety</strong>
                    </h4>
                    <p class="copy px-3">Feeling low, lonely and hopeless are all signs that it may be helpful to talk to someone about what you are going through, but this first step can seem very daunting. Likewise, many of us suffer from anxiety in our day to day lives which may make life a constant battle. We may have safety behaviours that we have to complete in order to keep our anxiety at bay and avoid panic taking over, or have a sense of dread and not understand why.<br><br> Alexandra will help you to talk through how you are feeling and think with you about these feelings  in relation to the rest of your life. She will work with you to tailor the type of therapy you wish to receive. This may mean spending time exploring the possible origins or root of feelings of depression and anxiety, or it may mean creating a formulation of the problem together and making a plan for how to, for example, reduce safety behaviours or become more active.
                    </p>
                </div>
            </div>
            <div class="row mx-auto w-25 pb-5 ">
                <a href="#" class="mx-auto " data-dismiss="modal">
                    <button type="button" class="copy btn sborder mx-auto bg-white shadow-sm p-2" >Close</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL 3 -->
<div class="modal fade animated zoomin" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="Modal3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-body mx-auto p-0">
                <div class="mx-auto text-center py-3" style="background: url('./../../assets/wave_hero.jpg'); background-size: cover">
                    <img src="./../../assets/Relationships.svg" class="svg svg-white icon-relationships  mx-auto" >
                </div>
                <div class="mx-auto p-3 text-center" >
                    <h4 class="sub-title pt-4 pb-2 text-center" >
                        <strong>Family, Relationships <br>& Interpersonal Problems</strong>
                    </h4>
                    <p class="copy px-3">Many of us may have grown up with challenging family dynamics, and this in turn might have had long lasting repercussions on our lives even today. Others of us might feel that we have always had strong bonds with family and loved ones, yet negotiating the demands and pressures of relationships can often be difficult.<br><br> Very often in our relationships, the love and care we receive is conditional on our acting or being a particular version of ourselves for others. Alexandra will provide an environment of non-judgement and acceptance where you will have the freedom to explore the impact of the relationships you are concerned about. Having a space that is just for you is an empowering step towards breaking unwanted patterns in our relationships and thinking about them from new perspectives.
                    </p>
                </div>
            </div>
            <div class="row mx-auto w-25 pb-5 ">
                <a href="#" class="mx-auto " data-dismiss="modal">
                    <button type="button" class="copy btn sborder bg-white shadow-sm p-2" > Close</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- MODAL 4 -->
<div class="modal fade animated zoomin" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="Modal4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-body mx-auto p-0">
                <div class="mx-auto text-center py-3" style="background: url('./../../assets/wave_hero.jpg'); background-size: cover">
                    <img src="./../../assets/womensHealth.svg" class="svg svg-white icon-relationships  mx-auto" >
                </div>
                <div class="mx-auto p-3 text-center" >
                    <h4 class="sub-title pt-4 pb-2 text-center" >
                        <strong>Women’s Mental Health <br>& Wellbeing</strong>
                    </h4>
                    <p class="copy px-3">Why does Alexandra think women’s mental health and wellbeing is an important subject? There are so many reasons. To summarise, here are some statistics:
                    <p class="copy px-3">
                        <ul class="text-left ml-5 ">
                            <li class="copy px-4">1 in 5 women have been sexually assaulted.</li>
                            <li class="copy px-4">Women are twice as likely to experience anxiety than men.</li>
                            <li class="copy px-4">10% of all mothers suffer from a mental health problem.</li>
                            <li class="copy px-4">Around 3% of women have traumatic birth experiences that lead to symptoms of PTSD, most of whom go undiagnosed and unsupported.</li>
                        </ul>
                    </p>
                    <br>
                    <p class="copy px-3">As a woman, you may also experience life events that are medically or socially considered “normal” just because they are “common”. In reality, the impact of these events can be mentally and emotionally flooring, yet women go through them with little if any support. 
                    <p class="copy px-3">Maternal mental health problems can be particularly disorienting, given that in pregnancy and motherhood we often don't have a reference point for what “OK” looks like. Our hormones and identities may also be in a state of flux.  As a result, there are many serious issues that mothers face that often go undiscussed and are brused aside as part and parcel of being a mum. These include problems such as tokophobia (fear of pregnancy and childbirth), baby blues, adjusting to life as a mother, postnatal depression, traumatic birth experiences, separation anxiety, returning to work, and a constant re-adjusting of identity.</p>
                    <p class="copy px-3">Wherever you find yourself in your life and womanhood, Alexandra specialises in working with you in your journey to mental health and wellbeing. We work together to reflect on the place you find yourself now, and build a path towards where you would like to be. If you don’t know what this looks like, that’s fine too. Often we need to spend some time thinking about where we are and how we got here to start to think about the answers to the questions; “What now?” and “So, how?”</p>
                </div>
            </div>
            <div class="row mx-auto w-25 pb-5 ">
                <a href="#" class="mx-auto " data-dismiss="modal">
                    <button type="button" class="copy btn sborder bg-white shadow-sm p-2" > Close</button>
                </a>
            </div>
        </div>
    </div>
</div>
