
/* ---- BUTTONS ---- */

.btn-primary {
  outline:none;
  border: none;
  background: #fff !important;
  color:#000 !important;
}

.btn-primary:hover {
outline: none !important;
background:#8ED2D3 !important;
color: #fff !important;
border: none;
}

.btn-2 {
    background: white;
	border: 1px solid black;
}


/* ---- END BUTTONS ---- */
