
/* ---- COLOURS ---- */
.color-sand {
  color: 	#efeadd;
}

.color-blue {
  color:#8ED2D3;
}

.background-sand {
  background: #efeadd;
}

.background-blue {
  background:#A5D5EB;
}

.fill-sand {
  fill: #efeadd;
}

.fill-blue {
  fill:#A5D5EB;
}
.fill-clear {
  fill:transparent;
  background: white;
}
/* ---- END COLOURS ---- */
