
.heading {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 2em;
}
.subheading {
  font-size: 1.5em !important;
}
p {
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Nunito Sans', sans-serif;
}
h2, h3 {
  padding-bottom: 20px;
  line-height: 150%;
}

.copy-white {
	color: white;
}
.copy-blue {
  color: #8ED2D3;
}
