/* ---- NAVBAR ---- */

.navbar a {
	text-decoration: none;
}

.navbar-brand img {
	width: 200px;
}

.navbar-toggler {
	border: none !important;
}

.navbar-toggler:focus {
  outline: none;
}
/* ---- END NAVBAR ---- */
